/* /app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1e293b; /* Dark gray background */
    color: white; /* Text color */
    font-family: 'Inter', sans-serif; /* Adjusted font for a more modern look */
}
